@using TheQuestion.Model.Auth;

@model Login

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form asp-controller="Auth" asp-action="Login" method="post" class="mb-3">
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" asp-for="Username" />
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input class="form-control" asp-for="Password" />
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>

            @if (Model.SignInResult?.Succeeded == false)
            {
                if (Model.SignInResult.IsNotAllowed)
                {
                    <p class="text-danger">This user is not allowed to sign in.</p>
                }

                else if (Model.SignInResult.IsLockedOut)
                {
                    <p class="text-danger">This user is locked out.</p>
                }

                else if (Model.SignInResult.RequiresTwoFactor)
                {
                    <p class="text-danger">2FA required.</p>
                }

                else
                {
                    <p class="text-danger">Invalid credentials.</p>
                }
            }
        </div>
    </div>
</div>
