@using TheQuestion.Models.Pages;
@model PageHeading;

<div class="row">
    <div class="col-4">
        <img class="img-fluid" src="~/images/line-left.svg" />
    </div>
    <div class="col-4 text-center">
        <h1 class="">@Model.Title</h1>
    </div>
    <div class="col-4">
        <img class="img-fluid" src="~/images/line-right.svg" />
    </div>
</div>
