@using TheQuestion.Model.User;

@model EditUser

<div class="container">
    <main role="main" class="pb-3">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <form asp-controller="User" asp-action="Edit" method="post" class="mb-3">
                    <input type="hidden" asp-for="OriginalUsername"/>
                    <div class="mb-3">
                        <label asp-for="Username" class="form-label"></label>
                        <input type="text" class="form-control" asp-for="Username" />
                        <span class="text-danger" asp-validation-for="Username"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Email" class="form-label"></label>
                        <input type="text" class="form-control" asp-for="Email" />
                        <span class="text-danger" asp-validation-for="Email"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Password" class="form-label"></label>
                        <input class="form-control" asp-for="Password" />
                        <span class="text-danger" asp-validation-for="Password"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="ConfirmPassword" class="form-label"></label>
                        <input class="form-control" asp-for="ConfirmPassword" />
                        <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="RoleName" class="form-label"></label>
                        <select type="text" class="form-select" asp-for="RoleName" asp-items="Model.Roles"></select>
                        <span class="text-danger" asp-validation-for="RoleName"></span>
                    </div>
                    <button type="submit" class="btn btn-primary">Edit</button>
                    <a href="/user" class="btn btn-outline-secondary">Cancel</a>
                </form>
            </div>
        </div>
        @if (Model.Errors?.Any() == true)
        {
            <div class="row justify-content-center">
                <div class="col-md-6">
                    @foreach (var error in Model.Errors)
                    {
                        <p class="text-danger mb-3">@error.Code - @error.Description</p>
                    }
                </div>
            </div>
        }
    </main>
</div>
