@{
}

<div class="container">
    <main role="main" class="pb-3">
        <div class="row justify-content-end mb-3">
            <div class="col-md-3">
                <a class="btn btn-primary" href="/user/create">Create User</a>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div id="user-list" data-currentUsername="@Context.User.Identity?.Name"></div>
            </div>
        </div>
    </main>
</div>
