@page
@using TheQuestion.Models.Pages
@model TheQuestion.Pages.AboutModel
@{
}

<div class="container main py-3">
    @await Html.PartialAsync("_PageHeading", new PageHeading() { Title = "About" })
    <div class="row mt-5 justify-content-center">
        <div class="col-md-10">
            <div class="card answer">
                <div class="card-body">
                    <h1 class="answer-title mt-1 mb-2">What's this about?</h1>
                    <p class="answer-text"> We live in a very fragmented time. Those who aren't thinking only of their own lives are often thinking of some political or ideological cause.

                        So it's time for a project about transcending small minded thinking. About communicating things that should be useful for all mankind. Use the internet properly, for once.
                    </p>
                    <h1 class="answer-title mt-1 mb-2">This stuff seems pretty woo...</h1>
                    <p class="answer-text"> The Question has a purely spiritual origin, but part of the goal is to explode the secular/spiritual distinction entirely. Spirituality is about truth after all: there is no particular reason there needs to be a cleavage between secular truth and spiritual truth.
                    </p>
                    <h1 class="answer-title mt-1 mb-2">I disagree with an answer!</h1>
                    <p class="answer-text"> There is no voting or commenting system because answers, being dearly held convictions, are not to be subjected to debates or popularity contests. 

                        But a strong enough disagreement perhaps indicates an answer wanting to get out...
                    </p>
                    <h1 class="answer-title mt-1 mb-2">Do you take just anything?</h1>
                    <p class="answer-text"> The maintainer of The Question is extremely open minded. It is better when people go on a bit, but it's ok if you only have one sentence.

                        Please, no calls to violence or slogans. Try to explain something instead.
                    </p>
                    <h1 class="answer-title mt-1 mb-2">Who are you anyway?</h1>
                    <blockquote class="answer-text"> It’s best if you are barely known
                        The lesser state is being praised
                        Worse is being hated
                        Just stay empty and amazed

                        Only do what must be done
                        And see you are the one alone
                        When you finish all will say
                        We did this on our own

                        - Tao Te Ching, Chapter 17
                    </blockquote>
                    <p class="answer-text">That said, all inquiries should be directed to: <a href="mailto:contact@thequestion.diy">contact@thequestion.diy</p>
                </div>
            </div>
        </div>
    </div>
</div>
