@page
@using TheQuestion.Models.Pages

@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<div class="container main py-3">
    @await Html.PartialAsync("_PageHeading", new PageHeading() { Title = "Error" })
    <div class="row justify-content-center my-4">
        <div class="col-md-10">
            <p class="blurb">
                Something exploded! Please let the maintainer know: <a href="mailto:contact@thequestion.diy">contact@thequestion.diy</a>. Include the request ID, if there is one!
            </p>

            @if (Model.ShowRequestId)
            {
                <p>
                    <strong>Request ID:</strong> <code>@Model.RequestId</code>
                </p>
            }
        </div>
    </div>
</div>
