@page
@using TheQuestion.Models.Pages;
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    @await Html.PartialAsync("_PageHeading", new PageHeading() { Title = "The Question" })
</div>

