@page
@using Microsoft.Extensions.Options;
@using TheQuestion.Models.Pages;
@using TheQuestion.Search;

@inject IOptions<SearchConfiguration> _searchConfigOptions;

@model IndexModel
@{
    ViewData["Title"] = "Home page";

    var searchConfig = _searchConfigOptions.Value;
}

<div class="container main">
    @await Html.PartialAsync("_PageHeading", new PageHeading() { Title = "The Question" })
    
    <div class="row justify-content-center mb-4">
        <div class="col-md-12 col-lg-8">
            <h1 class="the-question">What do you wish that everybody knew?</h1>
        </div>
    </div>
 
    <div class="row justify-content-center mb-4">
        <div class="col-md-10">
            <p class="blurb">
                What vital insight have you gained that could enlighten us all, something so true and so right, that everyone should know it?
                <br/>
                Share the truth - as you understand it.
            </p>
        </div>
    </div>

    <div class="row justify-content-center mb-5">
        <div class="col-md-12 col-lg-6 text-center">
            <a class="btn btn-question-primary" href="/answer/submit">Share With Everyone</a>
        </div>
    </div>

    @await Html.PartialAsync("_PageHeading", new PageHeading() { Title = "The Answers" })

    <div class="row mt-5">
        <div class="col-12">
            <div id="answer-search" data-index="@searchConfig.IndexName" data-appId="@searchConfig.AppId" data-apiKey="@searchConfig.SearchApiKey"></div>
        </div>
    </div>
</div>

