@using TheQuestion.Models.Answer;

@model CreateAnswer

<div class="container">
    <main role="main" class="pb-3">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <form asp-controller="Answer" asp-action="Create" method="post" class="mb-3">
                    <div class="mb-3">
                        <label asp-for="Text" class="form-label"></label>
                        <textarea class="form-control" asp-for="Text" rows="25"></textarea>
                        <span class="text-danger" asp-validation-for="Text"></span>
                    </div>
                    <button type="submit" class="btn btn-primary">Create</button>
                    <a href="/answer/dashboard" class="btn btn-outline-secondary">Cancel</a>
                </form>
            </div>
        </div>
    </main>
</div>
