@using TheQuestion.Models.Answer;
@model PublicAnswer

<div class="container">
    <main role="main" class="pb-3">
        <div class="row mb-5">
            <div class="col-12">
                <div class="carousel answer" data-bs-theme="dark">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <h1 class="answer-title mb-4"><a href="/answer/@Model.Id">#@Model.Id</a></h1>
                            <p class="answer-text">@Model.Text</p>
                        </div>
                    </div>
                    @if (!Model.IsFirst)
                    {
                        <a class="carousel-control-prev" href="/answer/@Model.Previous">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        </a>
                    }
                    @if (!Model.IsLast)
                    {
                        <a class="carousel-control-next" href="/answer/@Model.Next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        </a>
                    }
                </div>
            </div>
        </div>
    </main>
</div>
