@using TheQuestion.Models.Answer;
@model ViewAnswer

<div class="container">
    <main role="main" class="pb-3">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card answer">
                    <div class="card-body">
                        <h1 class="answer-title mb-4">#@Model.Id</h1>
                        <p class="answer-text">@Model.Text</p>
                        <p>Created: @Model.CreatedDate.ToString("R")</p>
                        <p>Published: @Model.PublishedDate.ToString("R")</p>
                        <a class="btn btn-primary" href="/answer/table">Back</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
