.boring {
    .nav-link {
        --bs-nav-link-color: white;
    }

    header {
        background-color: $boringGray;
        color: white;
    }

    .page-heading-left {
        height: 2px;
        background-image: url(../assets/line-left-gray.png);
    }

    .page-heading-right {
        height: 2px;
        background-image: url(../assets/line-right-gray.png);
    }

    .page-heading-title {
        color: $boringAnswerTitle;
    }
    
    .blurb {
        color: $boringAnswerText;
    }

    .the-question {
        color: $boringAnswerTitle;
    }

    .btn-question-primary {
        background-color: $boringAccent;

        &:active {
            background-color: $boringAccent;
            color: white;
            border-color: $boringAccent;
        }
    }

    .btn-question {
        background-color: $boringAccent;
        color: white;

        &:active {
            background-color: $boringAccent;
            color: white;
            border-color: $boringAccent;
        }

        &.outline {
            background-color: white;
            color: $boringAnswerText;
            border-color: $boringAccent;
            font-weight: normal;
        }
    }

    .answer {
        background-color: $boringAnswerBg;

        .answer-title {
            color: $boringAnswerTitle;
        }

        .answer-text {
            color: $boringAnswerText;
        }

        .share {
            color: $boringAnswerTitle;
        }

        .share-option {
            color: $boringAnswerTitle;
        }
    }

    .answer-submit {
        background-color: $boringAnswerBg;
        color: $boringAnswerText;
    }

    footer {
        border-top: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color)
    }
}
