.boring {
    .nav-link {
        --bs-nav-link-color: white;
    }

    header {
        background-color: $boringGray;
        color: white;
    }

    .page-heading-title {
        color: $boringAnswerTitle;
    }
    
    .blurb {
        color: $boringAnswerText;
    }

    .the-question {
        color: $boringAnswerTitle;
    }

    .btn-question-primary {
        background-color: $boringAccent;
    }

    .btn-question {
        background-color: $boringAccent;
        color: white;

        &.outline {
            background-color: white;
            color: $boringAnswerText;
            border-color: $boringAccent;
            font-weight: normal;
        }
    }

    .answer {
        background-color: $boringAnswerBg;

        .answer-title {
            color: $boringAnswerTitle;
        }

        .answer-text {
            color: $boringAnswerText;
        }
    }

    .answer-submit {
        background-color: $boringAnswerBg;
        color: $boringAnswerText;
    }
}
