.boring {
    .navbar-brand {
        --bs-navbar-brand-color: white;

        .logo {
            content: url(/images/boring-logo.svg);
        }
    }

    .nav-link {
        --bs-nav-link-color: white;
    }

    header {
        background-color: $boringGray;
        color: white;
    }

    .btn-question {
        background-color: $boringAccent;
        color: white;
    }

    .answer {
        background-color: $boringAnswerBg;

        .answer-title {
            color: $boringAnswerTitle;
        }

        .answer-text {
            color: $boringAnswerText;
        }
    }
}
