.gnosis {
    background-image: var(--star-image), var(--star-image), var(--star-image), var(--star-image), var(--star-image), var(--star-image), var(--star-image),
        var(--star-image), var(--star-image), var(--star-image), var(--star-image),
        var(--star-image), var(--star-image), var(--star-image), var(--star-image), var(--star-image),
        linear-gradient(to bottom, #94b8d4 10%, #edf4f7 52%, #f8eff4 95%);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: 20% 50px, 30% 170px, 35% 150px, 54% 110px, 62% 80px, 75% 60px, 82% 120px,
        26% 350px, 32% 440px, 66% 450px, 72% 340px,
        29% 600px, 37% 780px, 45% 770px, 67% 790px, 77% 750px,
        0%;
    position: relative;
    overflow: hidden;

    .gnosis-cloud {
        display: block;
        position: absolute;
        z-index: -1;
    }

    #cloud-5 {
        top: -100px;
        right: -620px;
        opacity: 0.6;

        @media (min-width: $md-breakpoint) {
            top: -120px;
            right: 220px;
        }
    }

    #cloud-4_1 {
        top: 150px;
        left: 25px;
        width: 40%;
        opacity: 0.7;
    }

    #cloud-2 {
        top: 350px;
        right: -500px;
        opacity: 0.7;

        @media (min-width: $md-breakpoint) {
            right: -200px;
        }

        @media (min-width: $lg-breakpoint) {
            right: -300px;
        }

        @media (min-width: $xxl-breakpoint) {
            right: 0px;
        }
    }

    #cloud-1 {
        top: 800px;
        left: 10px;
        width: 60%;
        opacity: 0.7;

        @media (min-width: $md-breakpoint) {
            left: 100px;
            width: 40%;
        }

        @media (min-width: $lg-breakpoint) {
            width: 20%;
        }
    }

    #cloud-4_2 {
        top: 50%;
        right: -180%;

        @media (min-width: $md-breakpoint) {
            right: 0px;
        }
    }

    .nav-link {
        --bs-nav-link-color: white;
    }

    .current-style {
        color: white;
    }

    header {
        background-image: linear-gradient(to bottom, #244466, rgba(51, 88, 127, 0) 100%);

        .btn-question {
            background-color: transparent;
        }
    }

    .page-heading-title {
        color: white;
    }

    .the-question {
        color: $gnosisAnswerTitle;
    }

    .blurb {
        color: $gnosisAnswerText;
    }

    .btn-question {
        background-color: $gnosisPrimaryBtnBg;
        color: white;
        border-color: $gnosisAccent;
        border-width: 3px;

        &:active {
            background-color: $gnosisPrimaryBtnBg;
            color: white;
            border-color: $gnosisAccent;
        }

        &.outline {
            background-color: transparent;
            color: $gnosisAnswerText;
        }
    }

    .btn-question-primary {
        background-color: $gnosisPrimaryBtnBg;
        border-color: $gnosisAccent;
        border-width: 3px;

        &:active {
            background-color: $gnosisPrimaryBtnBg;
            color: white;
            border-color: $gnosisAccent;
        }
    }

    .answer-search-controls {
        .search-control {
            background-color: $gnosisAnswerBg;
        }
    }

    .answer {
        background-color: $gnosisAnswerBg;

        .answer-title {
            color: $gnosisAnswerTitle;
        }

        .answer-text {
            color: $gnosisAnswerText;
        }

        .share {
            color: $gnosisAnswerTitle;
        }

        .share-option {
            color: $gnosisAnswerTitle;
        }
    }

    footer {
        border-top: none;
        color: $gnosisAnswerTitle;
    }
}