.gnosis {
    background-image: var(--star-image), var(--star-image), var(--star-image), var(--star-image), var(--star-image), var(--star-image), var(--star-image),
        var(--star-image), var(--star-image), var(--star-image), var(--star-image),
        var(--star-image), var(--star-image), var(--star-image), var(--star-image), var(--star-image),
        linear-gradient(to bottom, #94b8d4 10%, #edf4f7 52%, #f8eff4 95%);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: 20% 50px, 30% 170px, 35% 150px, 54% 110px, 62% 80px, 75% 60px, 82% 120px,
        26% 350px, 32% 440px, 66% 450px, 72% 340px,
        29% 600px, 37% 780px, 45% 770px, 67% 790px, 77% 750px,
        0%;
    position: relative;

    .gnosis-cloud {
        display: block;
        position: absolute;
        z-index: -1;
    }

    #cloud-5 {
        top: -120px;
        right: 220px;
        opacity: 0.6;
    }

    #cloud-4_1 {
        top: 150px;
        left: 25px;
        width: 40%;
        opacity: 0.7;
    }

    #cloud-2 {
        top: 350px;
        right: 100px;
        opacity: 0.7;
    }

    #cloud-1 {
        top: 800px;
        left: 500px;
        width: 20%;
        opacity: 0.7;
    }

    #cloud-4_2 {
        top: 50%;
        right: 0px;
    }

    .nav-link {
        --bs-nav-link-color: white;
    }

    .current-style {
        color: white;
    }

    header {
        background-image: linear-gradient(to bottom, #244466, rgba(51, 88, 127, 0) 100%);

        .btn-question {
            background-color: transparent;
        }
    }

    .page-heading-title {
        color: white;
    }

    .the-question {
        color: $gnosisAnswerTitle;
    }

    .blurb {
        color: $gnosisAnswerText;
    }

    .btn-question {
        background-color: $gnosisPrimaryBtnBg;
        color: white;
        border-color: $gnosisAccent;
        border-width: 3px;

        &.outline {
            background-color: transparent;
            color: $gnosisAnswerText;
        }
    }

    .btn-question-primary {
        background-color: $gnosisPrimaryBtnBg;
        border-color: $gnosisAccent;
        border-width: 3px;
    }

    .answer-search-controls {
        .search-control {
            background-color: $gnosisAnswerBg;
        }
    }

    .answer {
        background-color: $gnosisAnswerBg;

        .answer-title {
            color: $gnosisAnswerTitle;
        }

        .answer-text {
            color: $gnosisAnswerText;
        }
    }

    footer {
        border-top: none;
        color: $gnosisAnswerTitle;
    }
}