@import 'boring.scss';
@import 'vajra.scss';

body {
    font-family: Tajawal;
    font-size: 18px;
}

.navbar {
    .navbar-brand {
        --bs-navbar-brand-color: white;
        --bs-navbar-brand-hover-color: white;

        .logo {
            content: url(/images/logo.svg);
        }
    }

    > .container {
        display: block;
    }
}

.main {
    margin-bottom: 5rem;
}

.page-heading-title {
    font-size: 48px;
    font-weight: 500;
    margin-bottom: 0;
}

.the-question {
    text-align: center;
    font-size: 90px;
    font-weight: 300;
}

.blurb {
    font-size: 25px;
    text-align: center;
}

#style-toggler-map {
    area {
        cursor: pointer;
    }
}

.btn-question-primary {
    border-radius: 70px;
    color: $white;
    font-size: 35px;
    font-weight: bold;
    padding: 22px 40px;
}

.btn-question {
    border-radius: 33px;
    font-size: 20px;
    font-weight: bold;
    padding: 11px 40px;
}

.answer-search-controls {
    .search-glass {
        left: 0.8rem;
    }
    .search-reset {
        right: 0.8rem;
    }
    .search-control {
        padding-left: 2.2rem;
        border-radius: 18px;
    }
}

.no-results {
    font-size: 22px;
    line-height: 1.45;
}

.answer {
    padding: 33px 82px 50px 67px;
    border-radius: 21px;
    border: none;

    .answer-title {
        font-size: 38px;
        font-weight: bold;

        a {
            color: inherit;
        }
    }

    .answer-text {
        font-size: 22px;
        line-height: 1.45;
    }

    &.carousel {
        padding-left: 82px;
    }

    .carousel-control-prev, .carousel-control-next {
        width: 8%;
    }
}

.answer-submit {
    border-radius: 21px;
    padding: 19.5px 60px 501.5px 32px;
    font-size: 24px;
}

#style-toggler {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .current-style {
        margin-top: auto;
        width: 100%;
        text-align: center;
        font-size: 12px;
    }
}

.grecaptcha-badge {
    visibility: hidden;
}