@import 'boring.scss';
@import 'vajra.scss';
@import 'gnosis.scss';

:root {
    --star-image: url(../assets/star.png);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fade-in {
    animation: fadeIn 1s ease-in-out forwards;
}

body {
    font-family: Tajawal;
    font-size: 18px;
}

.vajra-pattern {
    display: none;
}

.gnosis-cloud {
    display: none;
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content-wrap {
    flex: 1;
}

.navbar {
    .navbar-brand {
        --bs-navbar-brand-color: white;
        --bs-navbar-brand-hover-color: white;

        .logo {
            content: url(/images/logo.svg);
        }
    }

    .navbar-nav {
        --bs-nav-link-hover-color: white;
    }
}

.toggler-wrapper {
    .toggler {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0.25rem;

        @media (min-width: $md-breakpoint) {
            margin-left: 0;
            margin-right: 0;
        }
    }

    .current-style {
        display: block;
        margin-top: auto;
        width: 100%;
        text-align: center;
        font-size: 12px;
    }
}

.main {
    margin-bottom: 5rem;
}

.page-heading-left {
    height: 2px;
    background-image: url(../assets/line-left-white.png);
}

.page-heading-right {
    height: 2px;
    background-image: url(../assets/line-right-white.png);
}

.page-heading-title {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 0;

    @media (min-width: $md-breakpoint) {
        font-size: 48px;
    }
}

.the-question {
    text-align: center;
    font-size: 36px;
    font-weight: 300;
    margin-top: 0.75rem;

    @media (min-width: $md-breakpoint) {
        font-size: 90px;
        margin-top: 0;
    }
}

.blurb {
    font-size: 20px;
    text-align: center;

    @media (min-width: $md-breakpoint) {
        font-size: 25px;
    }
}

#style-toggler-map {
    area {
        cursor: pointer;
    }
}

.btn-question-primary {
    border-radius: 70px;
    color: $white;
    font-size: 20px;
    font-weight: bold;
    padding: 22px 40px;

    @media (min-width: $md-breakpoint) {
        font-size: 35px;
    }
}

.btn-question {
    border-radius: 33px;
    font-size: 16px;
    font-weight: bold;
    padding: 11px 20px;

    @media (min-width: $md-breakpoint) {
        font-size: 20px;
        padding: 11px 40px;
    }
}

.answer-search-controls {
    .search-glass {
        left: 0.8rem;
    }
    .search-reset {
        right: 0.8rem;
    }
    .search-control {
        padding-left: 2.2rem;
        border-radius: 18px;
    }
}

.no-results {
    font-size: 22px;
    line-height: 1.45;
}

.answer {
    padding: 31px 19px 16px 20px;
    border-radius: 21px;
    border: none;

    @media (min-width: $md-breakpoint) {
        padding: 33px 82px 50px 67px;
    }

    .answer-title {
        font-size: 38px;
        font-weight: bold;

        a {
            color: inherit;
        }
    }

    .answer-text {
        font-size: 20px;
        line-height: 1.45;

        @media (min-width: $md-breakpoint) {
            font-size: 22px;
        }
    }

    @media (min-width: $md-breakpoint) {
        &.carousel {
            padding-left: 82px;
        }
    }

    .share {
        &:hover {
            background-color: transparent;
        }
    }

    .share-option {
        font-size: 1.75rem;
    }

    .copy-button {
        cursor: pointer;
    }

    .carousel-control-prev, .carousel-control-next {
        width: 8%;
    }
}

.answer-submit {
    border-radius: 21px;
    padding: 19.5px 60px 501.5px 32px;
    font-size: 24px;
}

.toast-container {
    margin-left: -10rem;
}

.grecaptcha-badge {
    visibility: hidden;
}