$white: #fff;

$boringGray: #5a636a;
$boringAccent: #0f97ff;
$boringAnswerBg: #d7e3ec;
$boringAnswerTitle: #00206b;
$boringAnswerText: #212121;

$vajraAccent: #f08124;
$vajraSecondaryText: #ffa457;
$vajraSecondaryTextEncoded: '%23ffa457';
$vajraAnswerText: #fff;
$vajraAnswerTitle: #fff;
$vajraAnswerBg: rgba(0, 0, 0, 0.68);