$white: #fff;

$boringGray: #5a636a;
$boringAccent: #0f97ff;
$boringAnswerBg: #d7e3ec;
$boringAnswerTitle: #00206b;
$boringAnswerText: #212121;

$font-primary: #00206b;
$button-primary: #0f97ff;
$heading-black: #191919;