$white: #fff;

$xs-breakpoint: 0;
$sm-breakpoint: 576px;
$md-breakpoint: 768px;
$lg-breakpoint: 992px;
$xl-breakpoint: 1200px;
$xxl-breakpoint: 1400px;

$boringGray: #5a636a;
$boringAccent: #0f97ff;
$boringAnswerBg: #d7e3ec;
$boringAnswerTitle: #00206b;
$boringAnswerText: #212121;

$vajraAccent: #f08124;
$vajraSecondaryText: #ffa457;
$vajraSecondaryTextEncoded: '%23ffa457';
$vajraAnswerText: #fff;
$vajraAnswerTitle: #fff;
$vajraAnswerBg: rgba(0, 0, 0, 0.68);

$gnosisAccent: #0f97ff;
$gnosisPrimaryBtnBg: rgba(94, 142, 179, 0.25);
$gnosisAnswerTitle: #00206b;
$gnosisAnswerText: #191919;
$gnosisAnswerBg: rgba(255, 255, 255, 0.5);
$gnosisAnswerUtility: #e00e46;